################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/iptv/v17
/.vs/iptv/CopilotIndices/17.13.439.2385
/.vs/iptv/FileContentIndex/00af5724-15f5-402c-8b42-6a757585f5be.vsidx
/.vs/iptv/FileContentIndex/a8bd2ff1-82a6-421a-805e-887f23a184a7.vsidx
/.vs/iptv/FileContentIndex/2be88a25-6eeb-4919-8453-96c9abe03c8c.vsidx
/.vs/iptv/FileContentIndex/c5e91227-b42c-416c-9241-f71893a30138.vsidx
